
body 
{
    background-color: rgb(252, 229, 227);
}
  
  h1 
  {
    color: rgb(112, 93, 93);
    text-align: center;
  }

  h3{
    color: rgb(112, 93, 93);
    text-align: center;
  }

  
  
#rcorners2 {
  border-radius: 25px;
  border: 2px solid #a60d66;
  padding: 20px;
  width: 200px;
  height: 150px;
}

#iframe
{
  height:200px;
  width:300px;
}